    <body>
      <div class="container">

        <router-outlet>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['']" routerLinkActive="active" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/curso']" routerLinkActive="active" >Cursos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/aluno']" routerLinkActive="active" >Alunos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/professor']" routerLinkActive="active" >Professores</a>
                </li>
              </ul>
            </div>
          </nav>
        </router-outlet>

    </div>
  </body>
